<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Los Santos Custom</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="icon"
      href="https://raw.githubusercontent.com/Ichinistes14/lsc/refs/heads/main/public/img/logo-lsc.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" style="pointer-events: none; cursor: default">
          <img src="img/logo.svg" />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/"> Accueil </a>
          <a class="navbar-item" href="/stats"> Statistique </a>
          <a class="navbar-item has-text-weight-bold" href="/employe">
            Employé
          </a>
          <a class="navbar-item" href="/facture"> Factures </a>
          <a class="navbar-item" href="/tombola"> Tombola </a>
          <a class="navbar-item" href="/message"> Message </a>
        </div>

        <% if (isa) { %>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" href="/gestion/home">
                <strong>Gestion</strong>
              </a>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </nav>

    <div class="container has-text-centered mt-6 mb-3">
      <div class="section">
        <h2 class="title is-2">Employés</h2>
        <input
          type="text"
          class="input mt-4"
          id="search-bar"
          placeholder="Prénom de l'employé"
        />
        <div class="table-container">
          <table class="table mt-5">
            <thead>
              <tr>
                <th>Employé</th>
                <th>Grade</th>
                <th>Chiffre d'Affaire</th>
                <th>Chiffre Entreprise</th>
                <th>Prime</th>
                <th>Téléphone</th>
                <th>RIB</th>
                <th>Date d'Arriver</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% employees.forEach(function(e) { %>
              <tr class="is-vcentered">
                <td><%= e.name %></td>
                <td><%= e.grade %></td>
                <td><%= e.ca %></td>
                <td><%= e.cae %></td>
                <td><%= e.prime %></td>
                <td><%= e.phone %></td>
                <td><%= e.rib %></td>
                <td><%= e.date %></td>
                <td>
                  <div
                    class="buttons is-flex is-justify-content-center is-align-items-center is-flex-wrap-nowrap"
                  >
                    <button
                      class="button is-primary js-modal-trigger"
                      data-target="addFacture"
                      data-name="<%= e.name %>"
                      style="border-radius: 50% !important"
                    >
                      <span class="icon is-small">
                        <i class="fa-solid fa-plus"></i>
                      </span>
                    </button>
                    <button
                      class="button is-info"
                      style="border-radius: 50% !important"
                      onclick="window.location.href=`/facture/<%= e.name %>`"
                    >
                      <span class="icon is-small">
                        <i class="fa-solid fa-eye"></i>
                      </span>
                    </button>
                  </div>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="modal" id="addFacture">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Ajouter une facture</p>
          <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <form id="f">
            <input type="hidden" name="personName" id="personName" />
            <div class="field mb-3">
              <label class="label">Type</label>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select id="type" aria-label="Choisir le type">
                    <option value="Réparation" selected>Réparation</option>
                    <option value="Bidon">Bidon</option>
                    <option value="Réparation + Bidon">
                      Réparation + Bidon
                    </option>
                    <option value="Custom">Custom</option>
                    <option value="Dépannage">Dépannage</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field mb-3">
              <label class="label">Montant</label>
              <div class="control">
                <input
                  type="tel"
                  class="input"
                  id="montant"
                  placeholder="500"
                  pattern="\d*"
                  inputmode="numeric"
                  required
                />
              </div>
            </div>
            <div class="field mb-3">
              <label class="label">Contrat</label>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select id="contrat" aria-label="Choisir un contrat">
                    <option value="" selected>Aucun</option>
                    <% contrats.forEach((c) => { %>
                    <option value="<%= c.name %>"><%= c.name %></option>
                    <% }) %>
                  </select>
                </div>
              </div>
            </div>
            <div class="field mb-3">
              <label class="label">Gagnant</label>
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select id="gagnant" aria-label="Choisir un gagnant">
                    <option value="" selected>Aucun</option>
                    <% gagnants.forEach((g) => { %>
                    <option value="<%= g.name %>"><%= g.name %></option>
                    <% }) %>
                  </select>
                </div>
              </div>
            </div>
            <div id="liveAlert"></div>
          </form>
        </section>
        <footer class="modal-card-foot">
          <div class="buttons">
            <button id="btnAddFacture" class="button is-success">
              Ajouter
            </button>
            <button class="button">Annuler</button>
          </div>
        </footer>
      </div>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/js/employe.js"></script>
  <script>
    document.getElementById("montant").addEventListener("input", function (e) {
      this.value = this.value.replace(/[^0-9]/g, "");
    });

    $(document).ready(function () {
      $(".navbar-burger").click(function () {
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");
      });
    });

    document.addEventListener("DOMContentLoaded", () => {
      function openModal($el) {
        $el.classList.add("is-active");
      }

      function closeModal($el) {
        $el.classList.remove("is-active");
      }

      function closeAllModals() {
        (document.querySelectorAll(".modal") || []).forEach(($modal) => {
          closeModal($modal);
        });
      }
      (document.querySelectorAll(".js-modal-trigger") || []).forEach(
        ($trigger) => {
          const modal = $trigger.dataset.target;
          const name = $trigger.dataset.name;
          const $target = document.getElementById(modal);

          $trigger.addEventListener("click", () => {
            openModal($target);

            const modalTitle = addFacture.querySelector(".modal-card-title");

            modalTitle.textContent = `Ajouter une facture à ${name}`;
            document.getElementById("personName").value = name;
          });
        }
      );
      (
        document.querySelectorAll(
          ".modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button"
        ) || []
      ).forEach(($close) => {
        const $target = $close.closest(".modal");

        $close.addEventListener("click", () => {
          closeModal($target);
        });
      });
      document.addEventListener("keydown", (event) => {
        if (event.key === "Escape") {
          closeAllModals();
        }
      });
    });
  </script>
</html>
