<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Los Santos Custom</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="icon"
      href="https://raw.githubusercontent.com/Ichinistes14/lsc/refs/heads/main/public/img/logo-lsc.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <style>
      .modal-card-head {
        padding-bottom: 1rem;
      }
      .modal-card-body {
        padding: 1rem;
        padding-bottom: 2rem;
      }
      .modal-card-foot {
        padding: 1rem;
        background-color: var(--bulma-modal-card-head-background-color);
      }
      .modal-card-foot .button {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" style="pointer-events: none; cursor: default">
          <img src="/img/logo.svg" />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/"> Accueil </a>
          <a class="navbar-item" href="/stats"> Statistique </a>
          <a class="navbar-item" href="/employe"> Employé </a>
          <a class="navbar-item has-text-weight-bold" href="/facture">
            Factures
          </a>
          <a class="navbar-item" href="/tombola"> Tombola </a>
          <a class="navbar-item" href="/message"> Message </a>
        </div>

        <% if (isa) { %>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" href="/gestion/home">
                <strong>Gestion</strong>
              </a>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </nav>

    <div class="container has-text-centered mt-6 mb-3">
      <div class="section">
        <% if (employee !== undefined) { %>
        <h2 class="title is-2">Factures de <%= employee %></h2>
        <% } else { %>
        <h2 class="title is-2">Factures</h2>
        <input
          type="text"
          class="input mt-4"
          id="search-bar"
          placeholder="Prénom de l'employé"
        />
        <% } %>
        <div class="table-container">
          <table class="table mt-4">
            <thead>
              <tr>
                <th>Prénom</th>
                <th>Type</th>
                <th>Montant</th>
                <th>Contrat</th>
                <th>Gagnant</th>
                <th>Date & Heure</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% let reversedTransactions = transactions.reverse(); %> <%
              reversedTransactions.forEach(function(t, index) { %>
              <tr data-id="<%= t._id %>">
                <td><%= t.name %></td>
                <td><%= t.type %></td>
                <td><%= t.montant %></td>
                <td><%= t.contrat ? t.contrat : 'Aucun' %></td>
                <td><%= t.gagnant ? t.gagnant : 'Aucun' %></td>
                <td><%= t.date %></td>
                <td>
                  <div
                    class="buttons is-flex is-justify-content-center is-align-items-center is-flex-wrap-nowrap"
                  >
                    <button
                      class="button is-info btn-info"
                      style="border-radius: 50%"
                      data-id="<%= t._id %>"
                    >
                      <span class="icon is-small"
                        ><i class="fa-solid fa-info"></i
                      ></span>
                    </button>
                    <% if (t.type !== "Tombola") { %>
                    <button
                      class="button is-warning btn-modify"
                      style="border-radius: 50%"
                      data-id="<%= t._id %>"
                    >
                      <span class="icon is-small"
                        ><i class="fa-solid fa-pen"></i
                      ></span>
                    </button>
                    <button
                      id="btn-del"
                      class="button is-danger"
                      style="border-radius: 50%"
                      data-id="<%= t._id %>"
                    >
                      <span class="icon is-small"
                        ><i class="fa-solid fa-xmark"></i
                      ></span>
                    </button>
                    <% } %>
                  </div>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>

  <div id="facture-info" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title has-text-centered">Informations Facture</p>
      </header>
      <section class="modal-card-body">
        <div class="table-container">
          <table class="table mt-4">
            <thead>
              <tr>
                <th>Statut</th>
                <th>Auteur</th>
                <th>Destinataire</th>
                <th>Type</th>
                <th>Montant</th>
                <th>Contrat</th>
                <th>Gagnant</th>
                <th>Date & Heure</th>
              </tr>
            </thead>
            <tbody id="facture-tbody">
            </tbody>
          </table>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-primary close">Fermer</button>
      </footer>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script>
    const employes = [];
    const contrats = [];
    const gagnants = [];

    <% employes.forEach(function(e) { %>
    employes.push('<%= e.name %>');
    <% }); %>
    <% contrats.forEach(function(c) { %>
    contrats.push('<%= c.name %>');
    <% }); %>
    <% gagnants.forEach(function(g) { %>
    gagnants.push('<%= g.name %>');
    <% }); %>

    $(document).ready(function () {
      $(".navbar-burger").click(function () {
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");
      });

      $(".btn-info").click(function () {
        const id = $(this).data("id");

        $.ajax({
          url: "/info-facture",
          type: "POST",
          data: { id: id },
          success: function (data) {
            data = data.facture;
            if (!data || data == null) return;

            if (data.extra && data.extra != null) {
              data.extra = JSON.parse(data.extra);
              data.extra.forEach((extra) => {
                const extraRow = $("<tr></tr>");
                extraRow.append($("<td></td>").text(extra.statut));
                extraRow.append($("<td></td>").text(extra.auteur ? extra.auteur.replace(/_.*/, '') : "Inconnu"));
                extraRow.append($("<td></td>").text(extra.name));
                extraRow.append($("<td></td>").text(extra.type));
                extraRow.append($("<td></td>").text(extra.montant));
                extraRow.append($("<td></td>").text(extra.contrat ? extra.contrat : "Aucun"));
                extraRow.append($("<td></td>").text(extra.gagnant ? extra.gagnant : "Aucun"));
                extraRow.append($("<td></td>").text(extra.date));
                $("#facture-tbody").append(extraRow);
              });
            } else {
              const extraRow = $("<tr></tr>");
                extraRow.append($("<td></td>").text(data.statut));
                extraRow.append($("<td></td>").text(data.auteur ? data.auteur.replace(/_.*/, '') : "Inconnu"));
                extraRow.append($("<td></td>").text(data.name));
                extraRow.append($("<td></td>").text(data.type));
                extraRow.append($("<td></td>").text(data.montant));
                extraRow.append($("<td></td>").text(data.contrat ? data.contrat : "Aucun"));
                extraRow.append($("<td></td>").text(data.gagnant ? data.gagnant : "Aucun"));
                extraRow.append($("<td></td>").text(data.date));
              $("#facture-tbody").append(extraRow);
            }
            return $("#facture-info").addClass("is-active");
          },
        });
      });

      $(".modal-close, .modal-background, .close").click(function () {
        $("#facture-info").removeClass("is-active");
      });
    });
  </script>
  <script src="/js/facture.js"></script>
</html>
