<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Los Santos Custom</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="icon"
      href="https://raw.githubusercontent.com/Ichinistes14/lsc/refs/heads/main/public/img/logo-lsc.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" style="pointer-events: none; cursor: default">
          <img src="../img/logo.svg" />
        </a>
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/gestion/home"> Employés </a>
          <a class="navbar-item" href="/gestion/contrats"> Contrats </a>
          <a class="navbar-item" href="/gestion/gagnants"> Gagnants </a>
          <a class="navbar-item" href="/gestion/grades"> Grades </a>
          <a class="navbar-item has-text-weight-bold" href="/gestion/logs">
            Logs
          </a>
          <a class="navbar-item" href="/gestion/users"> Utilisateurs </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" href="/">
                <strong>Retour</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container has-text-centered mt-6 mb-3">
      <div class="section">
        <h2 class="title is-2">Logs - <%= logs.length %></h2>
        <input
          type="text"
          class="input mt-5"
          id="search-bar"
          placeholder="Chercher par utilisateur, action ou date"
        />
        <div class="table-container">
          <table class="table mt-4">
            <thead>
              <tr>
                <th>Utilisateur</th>
                <th>Action</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <% logs.forEach(function(l) { %> <% if (admin) { %>
              <tr>
                <td><%= l.admin %></td>
                <td><%= l.action %></td>
                <td><%= new Date(l.timestamp).toLocaleString() %></td>
              </tr>
              <% } else { %>
              <tr>
                <td><%= l.admin.replace(/_.*/, '') %></td>
                <td><%= l.action %></td>
                <td><%= new Date(l.timestamp).toLocaleString() %></td>
              </tr>
              <% } %> <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js" defer></script>
  <script>
    $(document).ready(function () {
      $(".navbar-burger").click(function () {
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");
      });
    });
  </script>
  <script src="/js/logs.js"></script>
</html>
