<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Los Santos Custom</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="https://raw.githubusercontent.com/Ichinistes14/lsc/refs/heads/main/public/css/main.css" />
    <link rel="icon" href="https://raw.githubusercontent.com/Ichinistes14/lsc/refs/heads/main/public/img/logo-lsc.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body data-bs-theme="dark">
    <nav class="navbar navbar-expand-xl bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" aria-disabled="true">Los Santos Custom</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/gestion/home">Employés</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gestion/contrats">Contrats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gestion/gagnants">Gagnants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gestion/logs">Logs</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/gestion/users"
                >Utilisateurs</a
              >
            </li>
          </ul>
          <div class="d-flex">
            <button class="btn btn-primary" onclick="window.location.href='/'">
              Retour
            </button>
          </div>
        </div>
      </div>
    </nav>

    <div class="container mt-5 text-center">
      <h2>Utilisateurs - <%= users.length %></h2>
      <div class="table-responsive mt-4">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Admin</th>
              <th scope="col">Role</th>
              <% if (admin || editor) { %>
              <th scope="col">Action</th>
              <% } %>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <% if (admin || editor || editor2) { %>
            <tr class="editing">
              <form id="addRowForm">
                <td>
                  <input
                    type="text"
                    class="form-control"
                    name="id"
                    placeholder="Ajout d'un éditeur"
                  />
                </td>
                <td>
                  <select
                    class="form-select"
                    aria-label="Choisir le rôle"
                    name="role"
                  >
                    <option value="user">Employé</option>
                    <% if (admin || editor) { %>
                    <option value="editor2">Chef</option>
                    <% } %> <% if (admin) { %>
                    <option value="editor">Editeur</option>
                    <option value="admin">Admin</option>
                    <% } %>
                  </select>
                </td>
                <td>
                  <button type="submit" class="btn btn-primary">
                    Enregistrer
                  </button>
                </td>
              </form>
            </tr>

            <% users.forEach(function(u) { %> <% if (u.role === 'admin') { %>
            <tr class="align-middle">
              <td><%= u.id.replace(/_.*/, '') %></td>
              <td><%= u.role %></td>
              <td>Accès insuffisant</td>
            </tr>
            <% } else if (u.role === 'editor' && !admin) { %>
            <tr class="align-middle">
              <td><%= u.id.replace(/_.*/, '') %></td>
              <td><%= u.role %></td>
              <td>Accès insuffisant</td>
            </tr>
            <% } else if (u.role === 'editor2' && !(admin || editor)) { %>
            <tr class="align-middle">
              <td><%= u.id.replace(/_.*/, '') %></td>
              <td><%= u.role %></td>
              <td>Accès insuffisant</td>
            </tr>
            <% } else { %>
            <tr class="align-middle">
              <td><%= u.id %></td>
              <td><%= u.role %></td>
              <td>
                <button
                  id="btn-del"
                  class="btn btn-danger btn-floating"
                >
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </td>
            </tr>
            <% } %> <% }); %> <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </body>

  <script src="/js/bootstrap.js"></script>
  <script src="https://raw.githubusercontent.com/Ichinistes14/lsc/refs/heads/main/public/js/users.js"></script>
</html>
